<app-header></app-header>
<main>
    <div class="category">
        <a routerLink="/shop">Todos</a>
        <hr>
        <details>
            <summary>Order by: </summary> <!-- Flecha hacia la derecha -->
            <ul>
                <a href="#">Menor Precio</a>
                <a href="#">Mayor Precio</a>
                <a href="#">Nombre</a>
            </ul>
        </details>     
        <div class="box">
            <hr>
            <h5>Type: </h5>
            <a [routerLink]="['/shop', 'Usado']">Usado</a>
            <a [routerLink]="['/shop', 'Nuevo']">0 KM</a>
        </div>
        <div class="box">
            <hr>
            <h5>Marca</h5>
            @for (item of marcaArray; track $index) {
                <a [routerLink]="['/shop', item]">{{item}}</a>
            }
        </div>
        <div class="box">
            <hr>
            <h5>Precio</h5>
            <a href="">0 - 50000</a>
            <a href="">50000 - 200000</a>
            <a href="">200000 - 500000</a>
            <a href="">500000 +</a>
        </div>
        <div class="box">
            <hr>
            <h5>Combustible</h5>
            <a href="">Diesel</a>
            <a href="">Nafta</a>
            <a href="">Gas</a>
        </div>
    </div>
    <div class="cars">
        @for (item of carArrayFiltrado; track $index) {
        <div class="car">
                <a href="">
                    <img [src]="item.photos" alt="">
                    <div class="info">
                        <p class="type"><a href="">{{item.description}}</a></p>
                        <p class="carName"><a href="">{{item.name}}</a></p>
                        <p class="carPrice">{{item.price}}</p>  
                    </div>
                </a>
            </div>
        }
    </div>
</main>
<app-footer></app-footer>
