<app-header></app-header>
<main>
    <div class="category">
        <details>
            <summary>Order by: </summary> <!-- Flecha hacia la derecha -->
            <ul>
                <a href="#">Menor Precio</a>
                <a href="#">Mayor Precio</a>
                <a href="#">Nombre</a>
            </ul>
        </details>     
        <div class="box">
            <hr>
            <h5>Type: </h5>
            <a href="">Usado</a>
            <a href="">0 KM</a>
        </div>
        <div class="box">
            <hr>
            <h5>Marca</h5>
            <a href="/shop" (click)="filtrarPorMarca('Fiat')">Fiat</a>
            <a href="">Ford</a>
            <a href="">Chevrolet</a>
            <a href="">Volkswagen</a>
            <a href="">Nissan</a>
            <a href="">Renault</a>
            <a href="">Peugeot</a>
            <a href="">Toyota</a>
            <a href="">Audi</a>
            <a href="">Jeep</a>
            <a href="">Dodge</a>
            <a href="">Ferrari</a>
            <a href="">Porsche</a>
        </div>
        <div class="box">
            <hr>
            <h5>Precio</h5>
            <a href="">0 - 50000</a>
            <a href="">50000 - 200000</a>
            <a href="">200000 - 500000</a>
            <a href="">500000 +</a>
        </div>
        <div class="box">
            <hr>
            <h5>Combustible</h5>
            <a href="">Diesel</a>
            <a href="">Nafta</a>
            <a href="">Gas</a>
        </div>
    </div>
    <div class="cars">
        @for (item of carArray; track $index) {
        <div class="car">
                <a href="">
                    <img [src]="item.photos" alt="">
                    <div class="info">
                        <p class="type"><a href="">{{item.description}}</a></p>
                        <p class="carName"><a href="">{{item.name}}</a></p>
                        <p class="carPrice">{{item.price}}</p>  
                    </div>
                </a>
            </div>
        }
    </div>
</main>
<app-footer></app-footer>
