<app-header></app-header>
<main>
    <h2>Carrito de Compras</h2>
    <div class="cars">
        @for (item of cartItems; track $index) {
        <div class="car">
                <a [routerLink]="['/detail', item.id]">
                    <img [src]="item.photos" alt="">
                    <div class="info">
                        <p class="type"><a href="">{{item.description}}</a></p>
                        <p class="carName"><a href="">{{item.name}}</a></p>
                        <p class="carPrice">{{item.price}}</p>  
                    </div>
                </a>
            </div>
        } @empty {
            <h3>No hay vehiculos</h3>
        }
    </div>
    <button (click)="clearCart()">Vaciar Carrito</button> 
</main>

<app-footer class="footer"></app-footer>