main{
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50vh;
}


.cars{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vh;  
}

@media (max-width: 420px){
    .category{
        margin-right: 5px;
    }

    .total {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        width: 80%;
    
        
    }

    
}

@media(max-width:1810px){
    .cars{
        justify-content: center;
    }
}

.cars .car{
    width: 30vh;
    height: auto;
    animation-name: show;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px gray;
}

.cars .car a{
    text-decoration: none;
    color: black;
}

.cars .car img {
    width: 100%;      
    height: auto;     
    object-fit: cover;
}

.cars .car .type{
    opacity: 0.6;
    font-size: 1.8vh;
    margin: 0;
}

.cars .car .title{
    font-size: 2vh;
    margin: 0;
}

.cars .car .price{
    font-size: 1.5vh;
    margin: 0;
    margin-bottom: 0;
}

.cars .car .carName{
    margin: 0;
}

.car .info{
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    height: auto;
    width: 15vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 1.8vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.btn a{
    text-decoration: none;
    color: white;
}

.buttons{
    margin-top: 20px;
    display: flex;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 3vh;
    width: 25vh;
}

.car .btn{
    margin-bottom: 15px;
}

.total p{
    margin: 5vh auto;

    background-color: #253551;
    height: 50px;
    width: 400px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    font-size: 25px;

}


