main{
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 19em;
}


.cars{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
    margin-right: 1vh;
    margin-left: 3vh;  
}

@media (max-width: 420px){
    .category{
        margin-right: 5px;
    }

    .cars{
        margin-left: 5px;
    }
}

@media(max-width:1810px){
    .cars{
        justify-content: center;
    }
}

.cars .car{
    padding-top: 5px;
    width: 26.9vh;
    height: auto;
    transition: transform 0.3s ease;
    animation-name: show;
    overflow: hidden;
}

.car:hover{
    transform: scale(1.03);
}

.cars .car a{
    text-decoration: none;
    color: black;
}

.cars .car img {
    width: 100%;      
    height: 20vh;     
    object-fit: cover;
}

.cars .car .type{
    opacity: 0.6;
    font-size: 1.8vh;
    margin: 0;
}

.cars .car .title{
    font-size: 2vh;
    margin: 0;
}

.cars .car .price{
    font-size: 1.5vh;
    margin: 0;
    margin-bottom: 0;
}

.cars .car .carName{
    margin: 0;
}



