.container
{
    padding: 15x;
}
.container .btn{
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    height: auto;
    width: 20vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 2vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
    margin-bottom: 20px;
    margin: 0 auto;
}


.container .table{
    padding-left: 10px;
    border-color: 1px black solid;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.form-control {
    width: 50%;
    margin: 0 auto 1.5vh auto;
    padding: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.8vh;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #253551;
    box-shadow: 0 0 5px rgba(37, 53, 81, 0.5);
  }