<app-header></app-header>
<main>
    <div class="image">
        <img src="https://res.cloudinary.com/dlp2ynio2/image/upload/v1729548866/Concesionario_laq260.webp"
            alt="Foto Concesionario">
    </div>
    <div class="text">
        <h1>Sobre nosotros</h1>
        <div class="history">
            <h3>Historia y Misión</h3>
            <p class="info">En Dynamic Drive, nos dedicamos a conectar personas con sus sueños sobre ruedas. Nacimos con la visión de hacer que la experiencia de adquirir un automóvil sea fácil, accesible y confiable. Nuestro compromiso es ofrecer vehículos de calidad que se adapten a las necesidades y estilos de vida de cada cliente.
                Nos mueve la pasión por la movilidad y la innovación, y trabajamos para ser líderes en el sector, brindando soluciones integrales que garanticen la satisfacción y confianza de quienes nos eligen.
            </p>
        </div>
        <div class="values">
            <h3>Valores</h3>
            <p class="info">
                <li><strong>Calidad: </strong>Garantizamos vehículos en óptimas condiciones y un servicio impecable.</li>
                <li><strong>Transparencia: </strong>Fomentamos relaciones honestas con nuestros clientes, basadas en confianza y claridad.</li>
                <li><strong>Innovación: </strong>Nos mantenemos a la vanguardia, ofreciendo vehículos modernos y adaptados a las últimas tecnologías.</li>
            </p>
        </div>
        <div class="products" style="text-align: left;">
            <h3>Productos y Servicios</h3>
            En Dynamic Drive, ofrecemos una amplia gama de productos y servicios pensados para cumplir con las expectativas de nuestros clientes:
            <li><strong>Venta de automóviles nuevos y usados: </strong>Contamos con un catálogo diverso que incluye marcas reconocidas y modelos adaptados a todos los presupuestos.</li> 
            <li><strong>Asesoramiento personalizado: </strong>Nuestros expertos te guiarán en todo el proceso de selección y compra.</li>
        </div>
    </div>
</main>
<app-footer></app-footer>