main{
    padding-top: 140px;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 17.8rem;
}

.text{
    margin: 4vh;
}

.text h1{
    font-size: 7vh;
}

.text h3{
    font-size: 4vh;
    text-align: center;
}

.text .info{
    margin-top: 1.5vh;
    font-size: 2vh;
    text-align: left;
}

.text .history{
    margin-top: 2.5vh;
}

.text .answer{
    margin-top: 2.5vh;
}

.image{
    height: 100%;
    margin-left: 4vh;
    margin-right: 4vh;
}

.image img{
    width: 100%;
}

@media (max-width: 1500px)
{
    main{
        flex-direction: column;
    }
}