
<main>
    <div class="image">
        <img src="https://res.cloudinary.com/dlp2ynio2/image/upload/v1729548866/Concesionario_laq260.webp"
            alt="Foto Concesionario">
    </div>
    <div class="text">
        <h1>About Us</h1>
        <div class="history">
            <h3>History and Mision</h3>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Delectus tempore assumenda sit dignissimos explicabo aperiam sint debitis, fuga eum in saepe, soluta nemo, dolores aut quibusdam praesentium optio magnam id.
            </p>
        </div>
        <div class="values">
            <h3>Values</h3>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Illo at, cupiditate unde, dolorem fugiat hic suscipit molestias dolorum repudiandae architecto velit optio id esse eum similique nulla laborum! Tenetur, ipsa?
            </p>
        </div>
        <div class="products">
            <h3>Products and Services</h3>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Illo at, cupiditate unde, dolorem fugiat hic suscipit molestias dolorum repudiandae architecto velit optio id esse eum similique nulla laborum! Tenetur, ipsa?
            </p>
        </div>
    </div>
</main>
