.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 19em;
}

.exit{
    padding-top: 20px;
    margin: 20px;
}

.cars{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-right: 1vh;
    margin-left: 3vh;  
}

@media (max-width: 420px){
    .category{
        margin-right: 5px;
    }

    .cars{
        margin-left: 5px;
    }
}

@media(max-width:1810px){
    .cars{
        justify-content: center;
    }
}

.cars .car{
    width: 26.9vh;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px grey;

}

.car:hover{
    transform: scale(1.03);
}

.cars .car a{
    text-decoration: none;
    color: black;
}

.cars .car img {
    width: 100%;       /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 20vh;      /* Ajusta la altura según la apariencia que prefieras */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
}

.cars .car .type{
    opacity: 0.6;
    font-size: 1.8vh;
    margin: 0;
}

.cars .car .title{
    font-size: 2vh;
    margin: 0;
}

.cars .car .price{
    font-size: 1.5vh;
    margin: 0;
    margin-bottom: 0;
}

.cars .car .carName{
    margin: 0;
}

.cars .car .info{
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

.btn{
    margin-top: 1.5vh;
    height: auto;
    width: 20vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 2.5vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
    margin-bottom: 20px;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.car .btn{
    align-self: center;
    margin-top: auto;
}

.form-control {
    width: 40%;
    margin: 1.5vh auto;
    padding: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.8vh;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #253551;
    box-shadow: 0 0 5px rgba(37, 53, 81, 0.5);
  }