/* Estilos principales */
main {
    padding-top: 115px;
    padding-bottom: 20rem;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title p{
    font-size: 6vh;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.image img{
    width: 500px;
    height: auto;
}

@media (max-width: 500px){
    .title p{
        font-size: 3vh;
    }
    .image img{
        width: 300px;
        height: auto;
    }
    .contact, .caracterist, .principal{
        max-width: 290px;
    }
}

.box{
    display: flex;
}

.box div:not(.row){
    margin: 20px;
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px grey;

}

.box p{
    font-size: 20px;
    font-weight: 300;
}

.box span{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contact a{
    text-decoration: none;
}
.btn{
    margin-top: 1.5vh;
    height: 5vh;
    width: 15vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 1.8vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.btn a{
    text-decoration: none;
    color: white;
}

.box .contact .row{
    display: flex;
    justify-content: space-around;
}

.principal{
    color: black;
    background: linear-gradient(120deg, white, rgb(129, 172, 236));
}

.caracterist{
    color: white;
    background: linear-gradient(180deg, black, grey);
}

.contact{
    color: black;
    background: linear-gradient(220deg, white, rgb(129, 172, 236));
}

@media (max-width:1150px){
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
