/* Estilos principales */
main {
    padding-top: 115px;
    padding-bottom: 20rem;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.title p{
    font-size: 6vh;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

/*
.image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }


  @media (max-width: 500px) {
    .image img {
      width: 300px;
      height: 200px; 
    }
  }
*/

.carousel-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .carousel {
    background: none;
    border-radius: 8px;
    overflow: hidden;
  }

  .carousel-inner {
    position: relative;
    height: 500px;
  }

  .carousel-item {
    height: 500px;
  }

  .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
  }

  @media (max-width: 850px) {
    .carousel-container {
      width: 100%;
      max-width: 500px;
    }

    .carousel-inner,
    .carousel-item {
      height: 300px;
    }

    img {
      width: 500px;
      height: 300px;
    }
  }

  @media (max-width: 520px) {
    .carousel-container {
      max-width: 300px;
    }

    .carousel-inner,
    .carousel-item {
      height: 200px;
    }

    img {
      width: 500px;
      height: 200px;
    }
  }

  .carousel-item {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  .carousel-item.active {
    opacity: 1;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    opacity: 0.2;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }

  .carousel-indicators {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }

  .carousel-item {
  transition: opacity 0s ease-in-out !important;
}

.carousel-item img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
    
.box{
    display: flex;
}

.box div:not(.row){
    margin: 20px;
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px grey;

}

.box p{
    font-size: 20px;
    font-weight: 300;
}

.box span{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contact a{
    text-decoration: none;
}
.btn{
    margin-top: 1.5vh;
    height: 5vh;
    width: 15vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 1.8vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.btn a{
    text-decoration: none;
    color: white;
}

.box .contact .row{
    display: flex;
    justify-content: space-around;
}

.principal{
    color: black;
    background: linear-gradient(120deg, white, rgb(129, 172, 236));
}

.caracterist{
    color: white;
    background: linear-gradient(180deg, black, grey);
}

.contact{
    color: black;
    background: linear-gradient(220deg, white, rgb(129, 172, 236));
}

@media (max-width:1150px){
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}