<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label" for="name">Nombre:</label>
      <input class="form-control" type="text" id="name" [(ngModel)]="car.name" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-6">
      <label class="form-label" for="brand">Marca:</label>
      <input class="form-control" type="text" id="brand" [(ngModel)]="car.brand" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-3">
      <label class="form-label" for="model">Modelo:</label>
      <input class="form-control" type="text" id="model" [(ngModel)]="car.model" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-3">
      <label class="form-label" for="year">Año:</label>
      <input class="form-control" value="" type="number" id="year" [(ngModel)]="car.year" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-3">
      <label class="form-label" for="fuel">Tipo de combustible:</label>
      <select class="form-select" id="fuel" [(ngModel)]="car.fuel" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>Options...</option>
        <option value="nafta">Nafta</option>
        <option value="gas">Gas</option>
        <option value="Diésel">Diésel</option>
      </select>
    </div>

    <div class="col-md-3">
      <label class="form-label" for="doors">Puertas:</label>
      <input class="form-control" type="number" id="doors" [(ngModel)]="car.doors"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-2">
      <label class="form-label" for="kph">Kilometros:</label>
      <input class="form-control" type="number" id="kph" [(ngModel)]="car.kph" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-3">
      <label class="form-label" for="engine">Motor:</label>
      <input class="form-control" type="text" id="engine" [(ngModel)]="car.engine"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-3">
      <label class="form-label" for="transmision">Transmision:</label>
      <input class="form-control" type="text" id="transmision" [(ngModel)]="car.transmision"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-4">
      <label class="form-label" for="description">Descripción:</label>
      <select class="form-select" id="description" [(ngModel)]="car.description" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>Options...</option>
      <option value="Usado">Usado</option>
      <option value="Nuevo">Nuevo</option>
      </select>
    </div>

    <div class="col-md-4">
      <label class="form-label" for="traction">Traccion:</label>
      <input class="form-control" type="text" id="traction" [(ngModel)]="car.traction"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-4">
      <label class="form-label" for="price">Precio:</label>
      <input class="form-control" type="number" id="price" [(ngModel)]="car.price"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-4">
      <label class="form-label" for="color">Color:</label>
      <input class="form-control" type="text" id="color" [(ngModel)]="car.color" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-12">
      <label class="form-label" for="photos">Fotos:</label>
      <input class="form-control" type="file" id="photos" [(ngModel)]="car.photos"
        [ngModelOptions]="{standalone: true}">
    </div>

  </div>

  <div class="buttons">
    <button class='btn' (click)="postCar()">Agregar Auto</button>
    <button class="btn" type="button" routerLink="/admin/view">Menu admin</button>
  </div>
</div>