<div class="container">
    <button routerLink="/admin/view" class="btn" type="button">Menu admin</button>
    <div class="cars">
        @for (item of carArray; track $index) {
        <div class="car">
            <a [routerLink]="['/update', item.id]">
                <img [src]="item.photos" alt="">
                <div class="info">
                    <p class="type"><a href="">{{item.description}}</a></p>
                    <p class="carName"><a href="">{{item.name}}</a></p>
                    <p class="carPrice">{{item.price}}</p>
                </div>
            </a>
        </div>
        } @empty {
        <h3>No hay vehiculos</h3>
        }
    </div>
</div>