<div class="cars">
    @for(car of carArray; track $index) {
        <div class="car">
            <a [routerLink]="['/update', car.id]">
                <img src="../../favicon.ico" alt="Imagen del auto">
                <div class="info">
                    <p class="type">Kilómetros: {{car.Kph}}</p>
                    <p class="title">Marca: {{car.name}}</p>
                    <p class="price">Precio: ${{car.price}}</p>
                </div>
            </a>
        </div>
    }
    <a href="/admin"><button type="button">Menu admin</button></a>

</div>
