main{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    padding-bottom: 19em;
}

.admin-menu{
    display: flex;
    justify-content: center;
}

.category{
    background-color: rgba(160, 160, 160, 0.226);
    height: auto;
    margin-right: 4vh;
    padding: 1vh;
    width: 25vh;
    border-radius: 1vh;
    margin-left: 1vh;
    align-self: flex-start;
}

summary{
    font-weight: 700;
}

details ul{
    font-size: 1.7vh
}

details ul li a{
    cursor: pointer;
}

.category a{
    text-decoration: none;
    color: black;
    transition: text-decoration 0.3s ease;
    transition: transform 0.3s ease;
}

.category a:hover{
    transform: scale(1.02);
    text-decoration: underline;
}

.box{
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.box h5{
    margin-bottom: 1vh;
    font-weight: 700;
    font-size: 2vh;
}

hr{
    width: 10vh; 
    border-radius: 1vh;
    height: 0.5vh; 
    background-color: black; 
}

.box a{
    margin-bottom: 0.3vh;
    font-size: 1.7vh
}

.cars{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-right: 1vh;
    margin-left: 3vh;  
}

@media (max-width: 420px){
    .category{
        margin-right: 5px;
    }

    .cars{
        margin-left: 5px;
    }
}

@media(max-width:1810px){
    .cars{
        justify-content: center;
    }
}

@media(width > 420px){
    .category a{
        font-size: 2vh
    }

    .category h5{
        font-size: 2.5vh;
    }

    summary{
        font-size: 2.5vh;
    }
}

.cars .car{
    width: 26.9vh;
    border-radius: 15px;
    height: 40vh;
    transition: transform 0.3s ease;
    view-timeline-name: --car;
    view-timeline-axis: block;
    animation-timeline: --car;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px grey;
}

.car:hover{
    transform: scale(1.03);
}

.cars .car a{
    text-decoration: none;
    color: black;
}

.cars .car img {
    width: 100%;   
    height: 20vh;      
    object-fit: cover; 
}

.cars .car .type{
    opacity: 0.6;
    font-size: 1.8vh;
    margin: 0;
}

.cars .car .carPrice{
    font-size: 1.9vh;
    margin-top: 5px;
}

.cars .car .carName{
    margin: 0;
    font-size: 2vh;
}

.car .info{
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

@keyframes show{
    from{
        opacity: 0.5;
        scale: 50%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.form-check-input{
    border: 1px solid rgb(165, 165, 165);
}

.btn{
    margin-top: 1.5vh;
    height: auto;
    width: 20vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 2vh;
    transform: color 0.3s ease;
    transform: background-color 0.3 ease;
}

.btn:hover{
    color: #e2e0e0;
    background-color: #2e466e;
}

.btn a{
    text-decoration: none;
    color: white;
}

