<main>
    <div class="banner">
        <div class="phrase">
            <h1 style="font-size: 4.5vh;">Drive your car with the utmost confidence</h1>
            <h4 style="font-size: 3vh;">We have the best deals.</h4>
        </div>
    </div>
    
    <div class="category">
        <div class="new">
            <div class="text">
                <p class="title">0 KM</p>
                <p class="info">Drive your new car today!</p>
                <button class="btn">View More</button>
            </div>
        </div>
        <div class="used">
            <div class="text">
                <p class="title">Useds</p>
                <p class="info">Quality guaranteed in every used car.</p>
                <button class="btn">View More</button>
            </div>
        </div>
    </div>
    
</main>