<app-header></app-header>
<main>
    <div class="banner">
        <div class="phrase">
            <h1 style="font-size: 4.5vh;">Maneja tu auto con la mayor confianza</h1>
            <h4 style="font-size: 3vh;">Tenemos las mejores ofertas</h4>
        </div>
    </div>
    
    <div class="category">
        <div class="new">
            <a [routerLink]="['/shop', 'Nuevo', 'type']">

                <div class="text">
                    <p class="title">0 KM</p>
                    <p class="info">Maneja tu auto ahora!</p>
                    <button class="btn">Ver mas</button>
                </div>
            </a>
        </div>
        <div class="used">
            <a [routerLink]="['/shop', 'Usado', 'type']">
                <div class="text">
                    <p class="title">Usados</p>
                    <p class="info">Calidad asegurada en todos los autos</p>
                    <button class="btn">Ver mas</button>
                </div>
            </a>
        </div>
    </div>

    <div class="latestCar">
        <h1>Ultimos autos</h1>
        <div class="cars">
            @for (auto of highlightCar; track $index) {
                @if (auto.isActive === true) {
                   <a [routerLink]="['/detail', auto.id]">
            <div class="box">
                <a href=""><img [src]="auto.photos" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">{{auto.name}}</a></p>
                    <p class="carPrice">$ {{auto.price | number:'1.2-2' }}</p>  
                </div>
            </div>
            </a> 
                }
            }
        </div>
        <button class="btn"><a href="/shop">Ver autos</a></button>
    </div>
    
</main>
<app-footer></app-footer>