<app-header></app-header>
<main>
    <div class="banner">
        <div class="phrase">
            <h1 style="font-size: 4.5vh;">Drive your car with the utmost confidence</h1>
            <h4 style="font-size: 3vh;">We have the best deals.</h4>
        </div>
    </div>
    
    <div class="category">
        <div class="new">
            <a href="">
                <div class="text">
                    <p class="title">0 KM</p>
                    <p class="info">Drive your new car today!</p>
                    <button class="btn">View More</button>
                </div>
            </a>
        </div>
        <div class="used">
            <a href="">
                <div class="text">
                    <p class="title">Useds</p>
                    <p class="info">Quality guaranteed in every used car.</p>
                    <button class="btn">View More</button>
                </div>
            </a>
        </div>
    </div>

    <div class="latestCar">
        <h1>Latest Car</h1>
        <div class="cars">
            <div class="box">
                <a href=""><img src="../../favicon.ico" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">Precio Nueva Fiat Strada Ultra Turbo Cvt Automatica At G"</a></p>
                    <p class="carPrice">$25200000</p>  
                </div>
            </div>
            <div class="box">
                <a href=""><img src="../../favicon.ico" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">Precio Nueva Fiat Strada Ultra Turbo Cvt Automatica At G"</a></p>
                    <p class="carPrice">$25200000</p>  
                </div>
            </div>
            <div class="box">
                <a href=""><img src="../../favicon.ico" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">Precio Nueva Fiat Strada Ultra Turbo Cvt Automatica At G"</a></p>
                    <p class="carPrice">$25200000</p>  
                </div>
            </div>
            <div class="box">
                <a href=""><img src="../../favicon.ico" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">Precio Nueva Fiat Strada Ultra Turbo Cvt Automatica At G"</a></p>
                    <p class="carPrice">$25200000</p>  
                </div>
            </div>
            <div class="box">
                <a href=""><img src="../../favicon.ico" alt=""></a>
                <div class="carInfo">
                    <p class="carName"><a href="">Precio Nueva Fiat Strada Ultra Turbo Cvt Automatica At G"</a></p>
                    <p class="carPrice">$25200000</p>  
                </div>
            </div>
        </div>
        <button class="btn">See all cars</button>
    </div>
    
</main>
<app-footer></app-footer>