.container {
    display: flex;
    background-color: rgba(160, 160, 160, 0.226);
    border-radius: 15px;
    width: 30%;
    flex-direction: column;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.pass {
    display: flex;
    align-items: center;
    position: relative;
}

.pass input {
    padding-right: 2.5rem; /* Espacio para el ícono de ojo */
    width: 100%;
}

.pass span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.invalid-feedback {
    display: block;
}

.btn {
    margin: 15px auto;
    height: auto;
    width: 15vh;
    background-color: #253551;
    color: white;
    border: none;
    font-size: 2.5vh;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    color: #e2e0e0;
    background-color: #2e466e;
}

.btn a {
    text-decoration: none;
    color: white;
}

.invalid{
    margin-right: 20px;
}

.valid{
    margin-right: 20px;
}