<app-header></app-header>
<main>
    <div class="category">
        <details>
            <summary>Order by: </summary> <!-- Flecha hacia la derecha -->
            <ul>
                <a href="#">Lowest Price</a>
                <a href="#">Highest Price</a>
                <a href="#">Name</a>
            </ul>
        </details>     
        <div class="box">
            <hr>
            <h5>Type: </h5>
            <a href="">Used</a>
            <a href="">0 KM</a>
        </div>
        <div class="box">
            <hr>
            <h5>Brand</h5>
            <a href="">Fiat</a>
            <a href="">Ford</a>
            <a href="">Chevrolet</a>
            <a href="">Volkswagen</a>
            <a href="">Nissan</a>
            <a href="">Renault</a>
            <a href="">Peugeot</a>
            <a href="">Toyota</a>
            <a href="">Audi</a>
            <a href="">Jeep</a>
            <a href="">Dodge</a>
            <a href="">Ferrari</a>
            <a href="">Porsche</a>
        </div>
        <div class="box">
            <hr>
            <h5>Price</h5>
            <a href="">0 - 50000</a>
            <a href="">50000 - 200000</a>
            <a href="">200000 - 500000</a>
            <a href="">500000 +</a>
        </div>
        <div class="box">
            <hr>
            <h5>Fuel</h5>
            <a href="">Diesel</a>
            <a href="">Gasoline</a>
            <a href="">Gas</a>
        </div>
    </div>
    <div class="cars">
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
        <div class="car">
            <a href="">
                <img src="../../favicon.ico" alt="">
                <div class="info">
                    <p class="type">Usado</p>
                    <p class="title">Titulo</p>
                    <p class="price">Precio</p>
                </div>
            </a>
        </div>
    </div>
</main>
<app-footer></app-footer>
