<app-header></app-header>
<main>
    <div class="category">
        <a routerLink="/shop">Todos</a>
        <hr>
        <details>
            <summary>Order by: </summary> <!-- Flecha hacia la derecha -->
            <ul>
                <a href="#">Menor Precio</a>
                <a href="#">Mayor Precio</a>
                <a href="#">Nombre</a>
            </ul>
        </details>     
        <div class="box">
            <hr>
            <h5>Tipo: </h5>
            <a [routerLink]="['/shop', 'Usado', 'type']">Usado</a>
            <a [routerLink]="['/shop', 'Nuevo', 'type']">0 KM</a>
        </div>
        <div class="box">
            <hr>
            <h5>Marca</h5>
            @for (item of marcaArray; track $index) {
            <a [routerLink]="['/shop', item, 'marca']">{{item}}</a>
            }
            
            
        </div>
        <div class="box">
            <hr>
            <h5>Precio</h5>
                <a [routerLink]="['/shop', 2000]">0 - 50000</a>
                <a [routerLink]="['/shop', 250000]">50000 - 200000</a>
                <a [routerLink]="['/shop', 250000]">200000 - 500000</a>
                <a [routerLink]="['/shop', 600000]">500000 +</a>
        </div>
        <div class="box">
            <hr>
            <h5>Combustible</h5>
            <a [routerLink]="['/shop', 'Diésel', 'fuel']">Diesel</a>
            <a [routerLink]="['/shop', 'Nafta', 'fuel']">Nafta</a>
            <a [routerLink]="['/shop', 'Gas', 'fuel']">Gas</a>
        </div>
    </div>
    <div class="cars">
        @for (item of carArray; track $index) {
        <div class="car">
                <a [routerLink]="['/detail', item.id]">
                    <img [src]="item.photos" alt="">
                    <div class="info">
                        <p class="type"><a href="">{{item.description}}</a></p>
                        <p class="carName"><a href="">{{item.name}}</a></p>
                        <p class="carPrice">{{item.price}}</p>  
                    </div>
                </a>
            </div>
        } @empty {
            <h3>No hay vehiculos</h3>
        }
    </div>
</main>
<app-footer></app-footer>
