<div class="container">
    <button routerLink="/admin/view" class="btn" type="button">Menu admin</button>
    <div class="cars">
        @for (item of carArray; track $index) {
        @if (item.isActive === true) {
        <div class="car">
            <img [src]="item.photos[0]" alt="">
            <div class="info">
                <p class="type"><a href="">{{item.description}}</a></p>
                <p class="carName"><a href="">{{item.name}}</a></p>
                <p class="carPrice">{{item.price}}</p>
            </div>
            <button class="btn" type="button" (click)="darDeBaja(item)">Borrar Auto</button>
        </div>
        }
        } @empty {
        <h3>No hay vehiculos</h3>
        }
    </div>
</div>