<div class="container">
    <button routerLink="/admin/view" class="btn" type="button">Menu admin</button>
  
    <!-- Barra de búsqueda -->
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Buscar auto por ID, nombre, descripción o precio"
      [(ngModel)]="filterText"
      (input)="filterCars()"
    />
  
    <div class="cars">
      @for (car of filteredCars; track $index) {
        @if (car.isActive) {
        <div class="car">
        
        <img [src]="car.photos[0]" alt="">
        <div class="info">
          <p class="type"><a href="">{{ car.description }}</a></p>
          <p class="carName"><a href="">{{ car.name }}</a></p>
          <p class="carPrice">{{ car.price }}</p>
        </div>
        <button class="btn" type="button" (click)="darDeBaja(car)">Borrar Auto</button>
      
      </div>
    }
    }
      <h3 *ngIf="filteredCars.length === 0">No hay vehículos que coincidan con la búsqueda</h3>
    </div>
  </div>
  