<nav class="nav navbar fixed-top" style="height: auto;">
    <div class="container" >
        <a class="navbar-brand d-flex" href="#" style="text-align: center; align-items: center; justify-content: center;">
            <img src="https://previews.dropbox.com/p/thumb/ACY1S4GjhZ9_8HQzDd7alBxZlRc3lcNm9XduZxAELqqTlA2cNjRrjDGSZeoULUpf55w2Fclvgq2UyGf91K_soclgiTpp6ySi7pJXvEw4YvaJqI9q8dP3dcHYM_34AL4j_9FLyF_LJA_l9blBKUpwyMPuKonzDyW-_j_rP9Fq8vn3u8vVlrWfp2XYtQ2jcRcHdAoN_uoyvTavDWwPuOZ2N55EWzydVy3WQr1hCkr3qBFKJdFX0aXWox5BfY2kjxdvUyyAn-ZR8oNP8kt70pYLGle-__BrmEElDY-mKpocukUmCRRUc_ebuLEBMax0sBIpPMI/p.png" alt="dsadsad" width="75" height="75" style="border-radius: 50%;">
            <p style="margin-left: 10px; margin-top: 18px; font-size: 25px; color: white;">Dynamic Drive</p>
        </a>
        <div class="d-flex">
            <a class="me-4" href="">Shop</a>
            <a class="me-4" href="">About Us</a>
            <a class="me-1" href="">Contact</a>
        </div>
    </div>
</nav>
