a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav{
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: #353535;
}

.navigation a{
    transition: transform 0.3s ease; 
}

.navigation a:hover{
    transform: scale(1.1);
}


.navigation a::before,
.navigation a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navigation a::before {
  content: '';
  right: -10px;
  top: -10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.navigation a:after {
  content: '';
  left: -10px;
  bottom: -10px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%)
}

.navigation a:hover:before,
.navigation a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navigation a:hover {
  color: white;
}
