a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav{
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: #353535;
}

.navigation a{
    transition: transform 0.3s ease; 
}

.navigation a:hover{
    transform: scale(1.1);
}


.navigation a::before,
.navigation a::after:not(.carrito) {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navigation a::before:not(.carrito) {
  content: '';
  right: -10px;
  top: -10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.navigation a:after:not(.carrito) {
  content: '';
  left: -10px;
  bottom: -10px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%)
}

.navigation a:hover:before,
.navigation a:hover:after:not(.carrito){
  transform: translate(0,0);
  opacity: 1;
}

.navigation a:hover {
  color: white;
}

.me-5 {
  margin-left: 20px;
}

.nav-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.navigation {
  transition: all 0.3s ease;
}

.navigation.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

@media (max-width: 972px) {
  .nav-toggle {
      display: block;
  }

  .navigation {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #353535;
      width: 200px;
      padding: 10px;
      border-radius: 8px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-10px);
  }

  .navigation.active {
      display: flex;
  }
}

