<nav class="nav navbar fixed-top" style="height: auto;">
    <div class="container" >
        <a class="navbar-brand d-flex" href="/home" style="text-align: center; align-items: center; justify-content: center;">
            <img src="https://res.cloudinary.com/dlp2ynio2/image/upload/v1729520975/logoDynamic_ggbnuk.png" alt="dsadsad" width="75" height="75" style="border-radius: 50%;">
            <p style="margin-left: 10px; margin-top: 18px; font-size: 25px; color: white;">Dynamic Drive</p>
        </a>
        <div class="navigation d-flex">
            <a class="me-4" href="/home">Inicio</a>
            <a class="me-4" href="/shop">Tienda</a>
            <a class="me-4" href="/about">Sobre nosotros</a>
            <a class="me-1" href="/contact">Contacto</a>
            <a class="me-5" href= "/carrito"> Carrito</a>
            
        </div>
    </div>
</nav>